<section id="home" class="row welcome-landing" ng-controller="CASController as casCtrl">
    <div class="col-xs-2">
        <img class="img-responsive arrow-intro" src="assets/img/arrow-intros.png" alt="welcome to the Program Editor"/>
    </div>
    <div class="col-xs-10">
        <div class="homeTxt">
            <h1>Welcome to the</h1>
            <h1 class="bold-text">Configuration Manager</h1>
            <h2>Where would you like to <span>Start</span>?</h2>
            <p>Configure settings for your CAS, Application, Organization, or Program.</p>
        </div>
    </div>
</section>